footer.footer
    div.container.footer__container
        div.footer__item.footer__item_social
            div.
                © 2017, Компания “ДвижемНедвижимое.РФ”
            a(href="doc/politic.pdf" target="_blank").footer__link.footer__link_politic-mobile.
                Политика конфиденциальности
            div.footer__social
                p.footer__social-title.
                    Мы в социальных сетях: 
                ul.footer__social-list
                    li.footer__social-item
                        a(href="https://vk.com/club29519436" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="https://www.facebook.com/dn78.ru/" target="_blank").footer__link.footer__social-link
                            i.fa.fa-facebook
        div.footer__item.footer__item_info
            div.footer__info
                p.
                    Офис: г. Санкт-Петербург,  Проспект Испытателей, д.30
                a(href="doc/politic.pdf" target="_blank").footer__link.footer__link_politic.
                    Политика конфиденциальности
        div.footer__item.footer__item_contacts
            div.footer__contacts
                a(href="tel:89170135408" data-phone="89170135408").footer__phone.footer__link.
                    +7 (917) 013-54-08
                a(href="").footer__link.footer__link_getcall.js-small-btn.
                    Заказать звонок
            