section.sec.sec1
    include header
    div.container.ta-center.sec1__container
        p.text.text_x.tt-uppercase.sec1__heading.
            Заработайте ОТ 11,2 млн.рублей за год
        p.text.text_l.tt-uppercase.
            на сделках с коммерческой недвижимостью
        p.text.text_m.color-white.
            Как зарабатывать на коммерческой недвижимости, не приобретая её?
        p.text.text_m.color-white.sec1__text.sec1__text_mb.
            Требуется ли опыт работы с недвижимостью,<br> чтобы запустить этот бизнес?
        p.text.text_s.color-white.
            Узнайте ответы в нашей презентации
        a(href="").btn-round.btn-round_download.js-small-btn.sec1__btn.
            Скачать презентацию
        ul.sec1__list
            - for(var i = 1; i < 8; i++) {
                li.sec1__list-item
                    img(src="img/sec1-img" + i + ".png")
            - }
            