section.sec.sec2
    img(src="img/sec2-bg.png", alt="").sec2__bg-img
    div.container
        div.sec2__text-block
            div.sec2__text-block-item.sec2__text-block-item_number
                h2.
                    3
            div.sec2__text-block-item
                h3.tt-uppercase.
                    МЛН.М
                p.text.text_49.tt-uppercase.mb0.
                    Коммерческой недвижимости
                p.text.text_m.sec2__text-border.
                    России сдаётся в аренду и приобретается каждый год
                p.text.text_s.light.sec2__text-pc.
                    Сейчас в РФ на разной стадии строительства находится 3,4 млн. м2 качественных торговых площадей. Российский рынок недвижимости входит в ТОП-5 самых привлекательных в мире.
        p.text.text_s.light.mb20.sec2__text-mobile.
            Сейчас РФ на разной стадии строительства находится 3,4 млн. м2 качественных торговых площадей. Российский рынок недвижимости входит в ТОП-5 самых привлекательных в мире.
        p.text.text_l.ta-center.mb40.
            По оценкам экспертов, объём инвестиций в коммерческую<br> недвижимость в 2017 году составит от $3 до $4 млрд
        p.text.text_l.ta-center.
            Рынок нуждается в таких компаниях, как
        img(src="img/header-logo.png", alt="").sec2__logo
        p.text.text_s.light.ta-center.
            которые берут на себя быструю реализацию Объектов<br> и качественное сопровождение сделок 
