section.sec.sec3
    div.sec3__wrap
        div.container.color-white
            div.sec3__text
                div.sec3__img-wrap
                    img(src="img/sec3-logo.png", alt="").sec3__logo
                p.text.text_x.
                    “ДвижемНедвижимое.РФ”
                img(src="img/sec3-logo.png", alt="").sec3__logo-mobile
                p.text.text_s.light.
                    Специалисты по организации <br>и сопровождению  сделок с коммерческой <br>недвижимостью
                p.text.text_l.sec3__text-upper.
                    ЗА 7 ЛЕТ РАБОТЫ
                p.text.text_s.light.
                    мы добились внушительных показателей:
                ul.sec3__list
                    li.sec3__list-item
                        p.sec3__item-title.
                            30
                        p.sec3__item-text.
                            инвестиционных проектов
                    li.sec3__list-item
                        p.sec3__item-title.
                            62
                        p.sec3__item-text.
                            проекта готового бизнеса
                    li.sec3__list-item
                        p.sec3__item-title
                            |50
                            span.sec3__item-subtitle.sec3__item-subtitle_bottom.
                                тыс.м2
                        p.sec3__item-text.
                            площадей сдано в аренду
                    li.sec3__list-item
                        p.sec3__item-title
                            |150
                            span.sec3__item-subtitle.sec3__item-subtitle_top.
                                более
                        p.sec3__item-text.
                            постоянных клиентов
                    li.sec3__list-item
                        p.sec3__item-title
                            |10
                            span.sec3__item-subtitle.sec3__item-subtitle_bottom.
                                млн.р.
                        p.sec3__item-text.
                            среднегодовая выручка
                    li.sec3__list-item
                        p.sec3__item-title
                            span.sec3__item-subtitle.sec3__item-subtitle_top.
                                более
                            |200
                            span.sec3__item-subtitle.sec3__item-subtitle_bottom.
                                объектов
                        p.sec3__item-text.
                            недвижимости выставлено на продажу
            div.sec3__btn-wrap
                a(href="").btn-round.btn-round_download.js-small-btn.
                    Скачать презентацию