section.sec.sec4
    div.sec4__wrap
        img(src="img/sec4-decor-bg.png", alt="").sec4__decor
        div.container.sec4__container
            p.text.text_xl.ta-center.tt-uppercase.sec4__title.
                Каждый год мы делаем 10-милионную выручку
            p.text.text_m.ta-center.
                на сделках с недвижимостью – и готовы научить этому Вас!
            div.sec4__border-container
                div.sec4__border
                    p.text.text_xxl.medium.tt-uppercase.
                        Откройте компанию
                    img(src="img/header-logo.png", alt="").sec4__logo
                    div
                        p.text.text_s.medium.tt-uppercase.mb0.sec4__border-subtitle.
                            в своём городе
                p.text.text_x.tt-uppercase.medium.mb0.
                    заработайте первУЮ прибыль
                div.sec4__bottom-text
                    div.sec4__bottom-text-item
                        h4.
                            287
                        p.text.text_45.tt-uppercase.medium.
                            ТЫС.РУБЛЕЙ
                    div.sec4__bottom-text-item
                        p.text.text_x.tt-uppercase.medium.mb20.
                            уже на 2-ой месяц
                        p.text.text_m.
                            Мы научим вас выгодно заключать сделки с собственниками недвижимости,
                        p.text.text_s.light.
                            выстраивать дружеские отношения с клиентами и вести бизнес без оглядки на конкурентов