section.sec.sec5
    div.container.color-white
        p.text.text_m.ta-center.mb40.sec5__title.
            Для быстрого старта вы получите все необходимое:
        ul.sec5__list
            li.sec5__list-item
                div.sec5__list-col.sec5__list-col_number
                    p.sec5__list-number.medium.
                        1
                div.sec5__list-col.sec5__list-col_desc
                    p.text.text_s.
                        Пошаговое руководство по запуску бизнеса
            li.sec5__list-item
                div.sec5__list-col.sec5__list-col_number
                    p.sec5__list-number.medium.
                        4
                div.sec5__list-col.sec5__list-col_desc
                    p.text.text_s.
                        Материалы и инструменты для рекламы в онлайне и офлайне
            li.sec5__list-item
                div.sec5__list-col.sec5__list-col_number
                    p.sec5__list-number.medium.
                        2
                div.sec5__list-col.sec5__list-col_desc
                    p.text.text_s.
                        Право использования бренда «ДвижемНедвижимое.РФ»
            li.sec5__list-item
                div.sec5__list-col.sec5__list-col_number
                    p.sec5__list-number.medium.
                        5
                div.sec5__list-col.sec5__list-col_desc
                    p.text.text_s.
                        Базу юридических и бухгалтерских документов
            li.sec5__list-item
                div.sec5__list-col.sec5__list-col_number
                    p.sec5__list-number.medium.
                        3
                div.sec5__list-col.sec5__list-col_desc
                    p.text.text_s.
                        Помощь в поиске, аренде и обустройстве офиса
            li.sec5__list-item
                div.sec5__list-col.sec5__list-col_number
                    p.sec5__list-number.medium.
                        6
                div.sec5__list-col.sec5__list-col_desc
                    p.text.text_s.
                        Инструкции по найму и обучению персонала
        p.text.text_s.light.ta-center.mb40.
            Все компоненты франшизы подробно описаны в презентации
        div.sec5__btn-wrap
            a(href="").btn-round.btn-round_download.js-small-btn.
                Скачать презентацию