section.sec.sec6
    div.container
        p.text.text_xl.ta-center.tt-uppercase.sec6__title.
            Уже занимаетесь сделками с недвижимостью?<br> Работаете риелтором?
        p.text.text_s.ta-center.sec6__subtitle.
            Для вас – индивидуальные условия сотрудничества
        div.sec6__list
            div.sec6__list-item
                div.sec6__list-border-wrap
                    div.sec6__list-border
                div.sec6__list-content
                    img(src="img/sec6-img1.png", alt="").sec6__list-img
                    p.sec6__list-title.
                        «УПРАВЛЯЮЩИЙ ПАРТНЕР»
                    p.sec6__list-text.
                        Франшиза для одного агента-одиночки
            div.sec6__list-item
                div.sec6__list-border-wrap
                    div.sec6__list-border
                div.sec6__list-content
                    img(src="img/sec6-img2.png", alt="").sec6__list-img
                    p.sec6__list-title.
                        «КОМПАНЬОН»
                    p.sec6__list-text.
                        Для тех, кто хочет сопровождать сделки не только с коммерческой недвижимостю
            div.sec6__list-item
                div.sec6__list-border-wrap
                    div.sec6__list-border
                div.sec6__list-content
                    img(src="img/sec6-img3.png", alt="").sec6__list-img
                    p.sec6__list-title.
                        «ПАРТНЁР»
                    p.sec6__list-text.
                        Предложение для агентств недвижимости
            div.sec6__list-item
                div.sec6__list-border-wrap
                    div.sec6__list-border
                div.sec6__list-content
                    img(src="img/sec6-img4.png", alt="").sec6__list-img
                    p.sec6__list-title.
                        «КОМАНДА»
                    p.sec6__list-text.
                        Предложение для команды агентов
            div.sec6__list-item
                div.sec6__list-border-wrap
                    div.sec6__list-border
                div.sec6__list-content
                    img(src="img/sec6-img5.png", alt="").sec6__list-img
                    p.sec6__list-title.
                        «СТРАТЕГ»
                    p.sec6__list-text.
                        Передаём вам исключительные права на регион
            div.sec6__list-item
                div.sec6__list-border-wrap
                    div.sec6__list-border
                div.sec6__list-content
                    img(src="img/sec6-img6.png", alt="").sec6__list-img
                    p.sec6__list-title.
                        «ИНВЕСТОР»
                    p.sec6__list-text.
                        Для тех, кто хочет выгодно вложить деньги, а работу – оставить нам
