section.sec.sec8
    img(src="img/sec8-bg.png", alt="").sec8__bg-img
    div.container.sec8__container
        p.text.text_xl.tt-uppercase.ta-center.mb0.
            вы готовы выступать в качестве инвестора ?
        p.text.text_m.tt-uppercase.ta-center.
             для вас эксклюзивное предложение
        p.text.text_s.ta-center.color-gray.sec8__subtitle.
             Вы можете не только сопровождать сделки, но и стать<br> источником их финансирования
        div.sec8__border
            div.sec8__border-item
                div.sec8__border-item-text.
                    Вы покупаете объект
            div.sec8__border-item
                div.sec8__border-item-text.
                    Сдаете его в аренду
            div.sec8__border-item
                div.sec8__border-item-text.
                    получаете доход
            div.sec8__border-item
                div.sec8__border-item-text.
                    продаете объект со 100% наценкой
            div.sec8__border-item
        div.sec8__note-wrap
            div.sec8__note
                p.text.text_s.tt-uppercase.mb0.
                    получаЕТе двойную прибыль с ПРОДАЖИ
        p.text.text_s.ta-center.tt-uppercase.
             У нас есть практика ведения подобных сделок<br> и мы готовы поделиться опытом с вами!